html, body {
    margin: 0;
    padding: 0;
    --blue1: #2196F3;
    --blue2: #03A9F4;
    --red: #F44336;
    --green1: #4CAF50;
    --green2: #8BC34A;
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--blue1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav>a {
    margin: 0 40px 0 40px;
    text-decoration: none;
    color: #fff;
}

#accueil {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%), url(../images/odet1.JPG);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titre {
    width: 75%;
    height: 20%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titre>h1 {
    font-family: 'Bangers', cursive;
    font-size: 5em;
    letter-spacing: 4px;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}

.phrase {
    width: 75%;
    height: 10%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.phrase>p {
    color: #fff;
    font-size: 1.3em;
    text-shadow: 2px 2px 4px #000;
}

.bouton {
    width: 75%;
    height: 10%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bouton>a {
    padding: 10px;
    color: #fff;
    background-color: var(--blue1);
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #000;
    font-size: 1.4em;
}
.bouton>a:hover {
    font-size: 1.5em;
    box-shadow: 5px 5px 4px #000;
}
.bouton>a:active {
    font-size: 1.3em;
    box-shadow: 3px 3px 4px #000;
}